body {
    padding-top: 50px;
    background: #14171A;
    color: #FFFFFF;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #252C33;
    padding: 10px 10px 10px 50px;
    font-size: 20px;
    line-height: 30px;
    z-index: 1000;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

#back {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    z-index: 1001;
}

#back:hover:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #FFFFFF;
}

#back:after {
    content: '';
    display: block;
    position: absolute;
    margin: auto;
    width: 10px;
    height: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid #FFFFFF;
    border-width: 3px 0 0 3px;
    transform: rotate(-45deg);
}

.supported > span {
    display: block;
    position: absolute;
    margin: auto;
    right: 9px;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
}

.supported > span:after {
    content: '';
    display: block;
    width: 6px;
    height: 12px;
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transform: rotate(45deg);
}

.unsupported > span {
    display: block;
    position: absolute;
    margin: auto;
    right: 9px;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
}

.unsupported > span:before, .unsupported > span:after {
    position: absolute;
    left: 3px;
    content: ' ';
    height: 20px;
    width: 3px;
    background-color: #FFFFFF;
}

.unsupported > span:before {
    transform: rotate(45deg);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.unsupported > span:after {
    transform: rotate(-45deg);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

#index ul li a.supported {
    border-top: 1px solid rgba(255, 255, 255 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: linear-gradient(#69e55f, #59ba50);
}

#index ul li a.supported:hover, #index ul li a.supported:active {
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255 0.1);
    background: linear-gradient(#59ba50, #69e55f);
}

.unsupported:after, .supported:after {
    content: "";
    display: block;
    position: absolute;
    width: 48px;
    height: 100%;
    top: 0;
    right: 0;
    background: #FFFFFF;
    opacity: 0.2;
}

#index ul li a.unsupported {
    border-top: 1px solid rgba(255, 255, 255 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: linear-gradient(#ff5156, #da4449);
}

#index ul li a.unsupported:hover, #index ul li a.unsupported:active {
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255 0.1);
    background: linear-gradient(#da4449, #ff5156);
}

#index ul {
    padding: 0;
    list-style: none;
}

#index ul li a {
    display: block;
    padding: 10px 20px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    border-top: 1px solid rgba(255, 255, 255 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: linear-gradient(#888888, #666666);
}

#index ul li a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

/* checked styles (menu open state) */

#drawer-toggle:checked ~ #drawer-toggle-label {
    height: 100%;
    width: calc(100% - 300px);
    background: rgba(255, 255, 255, .8);
}

#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header {
    left: 300px;
}

#drawer-toggle:checked ~ #drawer {
    left: 0px;
}

#drawer-toggle:checked ~ #page-content {
    margin-left: 300px;
}

#ambient-light-sensor {
    display: none;
}

#battery-status {
    display: none;
}

#geolocation {
    display: none;
}

#touch {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#touch > canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

#touch > ul {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

#pointer-lock {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#pointer-lock > canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

#pointer-lock > ul {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

#proximity {
    display: none;
}

#device-orientation {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#device-orientation > ul {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

#screen-orientation {
    display: none;
}

#vibration {
    display: none;
}

#media-devices {
    display: none;
}

#index p a, #index p a:link {
    color: #3DAFE3;
}

.invert {
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
  filter: invert(1);
}

#map {
    display: block;
    width: 320px;
    height: 320px;
}