#smartphone {
    background: #000000;
    width: 69px;
    margin: 30px auto;
    height: 90px;
    border-top: 20px solid #FFFFFF;
    border-bottom: 20px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    border-radius: 10px;
    position: relative;
}

#smartphone:before {
    content: "";
    display: block;
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -10px;

    background: inherit;
    height: 3px;
    width: 20px;
    border-radius: 4px;
}

#smartphone:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -6px;
    background: inherit;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}